
  <form  action="/reallywrongurl" method="post">
      <label>Username</label>
      <input type="text" name="username"/>
      <label>Password</label>
      <input type="password" name="password"/>
      <input type="hidden" name="Auth" value="IAmSerious"/>
      <input type="submit" value="OK"/>
  </form>
