
  <form  action="/superadminaccess" method="post">
      <label>Code</label>
      <input type="text" name="code"/>
      <input type="submit" value="OK"/>
      <input type="hidden" name="Auth" value="WhateverMan"/>
  </form>
