
  <form  action="/addadmin" method="post">
    <div>
      <label>Username</label>
      <input type="text" name="username"/>
      <label>Password</label>
      <input type="password" name="password"/>
    </div>
    <div>
      <label>E-mail</label>
      <input type="text" name="mailId" />
      <input type="hidden" name="Auth" value="GiveHimAccess"/>
      <input type="submit" value="OK"/>
    </div>
  </form>
