
  <form  action="/removeadmin" method="post">
    <div>
      <label>Username</label>
      <input type="text" name="username"/>
      <input type="hidden" name="Auth" value="GiveHimAccess"/>
      <input type="submit" value="OK"/>
    </div>
  </form>
