<form action="/eventupdation" method="POST" enctype="multipart/form-data">
  <input class="form-control" type="text" name="title" placeholder="Title">
  <input class="form-control" type="text" name="desc" placeholder="Description">
<input type="file" name="picture" accept="image/*">
<input class="btn btn-primary" type="submit" value="submit">
</form>
