<form action="/addprofile" method="POST" enctype="multipart/form-data">
  <input class="form-control" type="text" name="name" placeholder="Adarsh A">
  <input class="form-control" type="text" name="rollNo" placeholder="18BEC095">
  <input class="form-control" type="text" name="batch" placeholder="2018-2022">
  <input class="form-control" type="number" name="attendance" placeholder="100">
  <input class="form-control" type="text" name="mentorName" placeholder="Krithika S">

<input type="file" name="picture" accept="image/*">
<input class="btn btn-primary" type="submit" value="submit">
</form>
